<div class="mediaYubicacion">
        <div class="rowHeader">
          <div class="col1">

            <a href="/" class="emblema">Confitería y Chocolatería con Amor</a>

          </div>

          <div class="col2">
              <a href="/" class="RSSheader">
                  <fa-icon  [icon]="['fab', 'instagram']"></fa-icon>
              </a>

              -

              <a href="/" class="RSSheader">
                  <fa-icon  [icon]="['fab', 'facebook']"></fa-icon>
              </a>

              -

              <a class="RSSheader">
                <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
               +569 57791706
             </a>

          </div>

        </div>

    </div>
