<div class="container-fluid">
  <div class="row">

    <div class="col-lg-4">
      <div class="card" style="max-width: 24rem;">
        <img class="card-img-top imgSet" src="/assets/trufas.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title aligner">Trufas de sabores</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Descripción</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card" style="max-width: 24rem;">
        <img class="card-img-top imgSet" src="/assets/cubano.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title aligner">Cubanito</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Descripción</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
        <div class="card" style="max-width: 24rem;">
          <img class="card-img-top imgSet" src="/assets/prestigio.png" alt="Card image cap">
          <div class="card-body aligner">
            <h5 class="card-title">Prestigio Marrón</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Descripción</a>
          </div>
        </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="max-width: 24rem;">
        <img class="card-img-top imgSet" src="/assets/sachet.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title aligner">Cuchufli</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Descripción</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card" style="max-width: 24rem;">
        <img class="card-img-top imgSet" src="/assets/alfajor.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title aligner">Alfajor Marrón</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Descripción</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
        <div class="card imgSet" style="max-width: 24rem;">
          <img class="card-img-top" src="/assets/varios.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title aligner">Bombones</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary aligner">Descripción</a>
          </div>
        </div>
    </div>
  </div>


</div>
