  <div class="col-lg-12 dividerTop">

    <div class="container">
      <div class="titleMarron">What is Lorem Ipsum?</div>
      <p class="historiaCategoria">

          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>


    </div>

  </div>



<div class="container-fluid">
    <div class="row">

      <div class="col-lg-3 ">
        <div class="card">
          <img class="card-img-top imgSet" src="/assets/trufas.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title aligner">Trufas de sabores</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Descripción</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 ">
        <div class="card">
          <img class="card-img-top imgSet" src="/assets/cubano.png" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title aligner">Cubanito</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Descripción</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
          <div class="card">
            <img class="card-img-top imgSet" src="/assets/prestigio.png" alt="Card image cap">
            <div class="card-body ">
              <h5 class="card-title aligner">Prestigio Marrón</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Descripción</a>
            </div>
          </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top imgSet" src="/assets/sachet.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title aligner">Cuchufli</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Descripción</a>
          </div>
        </div>
      </div>


    </div>



    <div class="row">


      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top imgSet" src="/assets/alfajor.png" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title aligner">Alfajor Marrón</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Descripción</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
          <div class="card ">
            <img class="card-img-top imgSet" src="/assets/varios.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title aligner">Bombones</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary aligner">Descripción</a>
            </div>
          </div>
      </div>


      <div class="col-lg-3">
          <div class="card ">
            <img class="card-img-top imgSet" src="/assets/varios.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title aligner">Bombones</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary aligner">Descripción</a>
            </div>
          </div>
      </div>

      <div class="col-lg-3">
          <div class="card">
            <img class="card-img-top imgSet" src="/assets/varios.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title aligner">Bombones</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary aligner">Descripción</a>
            </div>
          </div>
      </div>

    </div>

  </div>

<div class="jumbotron">
  <div class="row">

    <div class="col-lg-3">

    </div>

    <div class="col-lg-6">
      <img src="/assets/chocobackground2.jpg" alt="">


    </div>

    <div class="col-lg-3">

    </div>

  </div>



</div>
